body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ededed;
}

label {
  color: #5b3314;
}

input,
select {
  outline: none;
  box-sizing: border-box;
  border: 2px solid #e25210;
  border-radius: 10px;
  height: 40px;
  background-color: #e25210;
  color: #ffffff;
  width: 80%;
  text-align: center;
}
input:focus,
select:focus {
  outline: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}
button {
  border-radius: 10px;
  border: 0;
  background-color: #e25210;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms;
}
button:active {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  box-shadow: inset 2px 2px 20px rgba(0, 0, 0, 0.5);
}
button h2 {
  font-size: 16px;
  font-weight: 500;
}

.app {
  padding: 2vh 2vw 2vh 2vw;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2vw;
  padding-right: 2vw;
}
.header h1 {
  font-size: 56px;
  margin: 0;
  font-weight: 400;
}
.header p {
  font-size: 32px;
  margin: 0;
  font-weight: 500;
}

.content {
  max-width: 1040px;
  margin: auto;
}

.forms {
  margin-top: 5vh;
  /* background-color: #f4f4f4; */
  padding: 5vh 1vw 5vh 1vw;
  align-items: center;
}
.forms form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.form-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* top right bottom left */
  padding: 1vh 1vw 1vh 1vw;
  text-align: right;
}
.form-input p {
  width: 15%;
}

.sign-wraper {
  background-color: #ededed;
  padding: 10vh;
}
.assinatura-div {
  background-color: #ffffff;
}

.assinatura-iframe {
  width: 100%;
  height: 30%;
}

@media (max-width: 800px) {
  .app {
    width: 100vw;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .forms form {
    display: grid;
    grid-template-columns: 1fr;
  }
  .header h1 {
    font-size: 32px;
  }
  .header p {
    font-size: 16px;
  }
}
