body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EDEDED;
  }
  
  label {
    color: #5B3314;
  }
  input {
    outline: none;
    border: 2px solid #E25210;
    border-radius: 1vh;
    height: 5vh;
    background-color: #E25210;
    color: #ffffff;
    width: 80%;
    text-align: center;
  }
  input:active {
    outline: none;
    border: 2px solid #E25210;
    border-radius: 1vh;
    height: 5vh;
    background-color: #E25210;
    color: #ffffff;
    width: 80%;
    text-align: center;
  }
  
  .app {
    padding: 2vh 2vw 2vh 2vw;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .header button {
    background-color: #E25210;
    color: rgb(255, 111, 0);
    font-size: large;
    border-radius: 20px;
    outline: none;
    border: none;
  }
  .header button:active {
    background-color: #E25210;
    color: #5B3314;
    font-size: large;
    border-radius: 10px;
    outline: none;
    border: none;
  }
  
  .forms {
    margin-top: 5vh;
    background-color: #F4F4F4;
    padding: 5vh 1vw 5vh 1vw;
    align-items: flex-end;
  }
  .form-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* top right bottom left */
    padding: 1vh 1vw 1vh 1vw;
    text-align: right;
  }
  .form-input p {
    width: 15%;
  }
  
  .sign-wraper {
    background-color: #EDEDED;
    padding: 10vh;
  }
  .assinatura {
    background-color: #ffffff;
  }
  
  .assinatura-iframe {
    width: 100%;
    height: 30%;
  }